/** CSS STYLE **/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   }
::before,
::after {
   margin: 0;
   padding: 0;
}

.body {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   color: #2A2626;
   line-height: 1.2em;
   
}

/* Container*/
.container {
   width: 100%;
   max-width: 1110px;
   margin: 0 auto;
   position: relative;
   height: auto;
}





/*Section*/

.section::before {
   content:"";
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;
   background-image: url(./../../images/background.png);
   position: absolute;
   opacity: .1;
   z-index: -2;
   
   
   
   
}

.section-beige {
   background: rgb(247, 247, 245);
   width: 100%;
   height: 914px;
}






/*Header*/

.header-img {
   position: absolute;
   height: 525px;
   top: 55px;
   right: -270px;

  
}

.section-title {
   color: #2A2626;
   font-family: 'Neucha', cursive;
   font-size: 72px;
   line-height: 1.2em;
   margin-bottom: 300px;
   padding-top: 100px;
}

.header-text {
   display: flex;
   justify-content: space-between;

}


.text-inner {
   width: 50%;
   margin-right: 30px;
}

.text-inner:last-child {
   margin-right: 0;
}

.text-style {
   line-height: 25.6px;
   font-size: 16px;
   color: #2A2626;
}



.colortext {
   color:#2A2626;
   
}

.header-button {
   padding: 12px 24px 12px 24px;
   background-color: #FE8A02;
   border-width: 0;
   margin-top: 40px;
   color: #FFFFFF;
   font-size: 16px;
   line-height: 25.6px;
   font-weight: 700;
   font-style: 'Open sans';
}



/*Section-white*/
.container-white {
   width: 100%;
   max-width: 1110px;
   margin: 0 auto;
   position: relative;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;

}

.section-white {
   height: 914px;
}

.video {
   filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
   position: absolute;
   top: 400px;

}

.title-white {
   padding-top: 100px;
   padding-bottom: 30px;
   font-family: 'Neucha', cursive;
   font-size: 60px;
   line-height: 1.2em;
   text-align: center;

}

.colortext-orange {
   color: #FE8A02;
   
}

.colortext-white {
   color: white;
}

.text-style--white {
   padding-bottom: 20px;
}





/*Navigation*/

.nav-span {
   font-family: 'Neucha', serif;
   color: #42413C;
   font-weight: normal;
   font-size: 64px;
   line-height: 1;
   margin-bottom: 40px;
   
}

.navigation-inner {
   width: 350px;
   height: 323px;
   background-color: #F5F4F0;;
   margin-bottom: 20px;
   padding: 24px;
}
.navigation-inner:first-child {
   background-color: transparent;
}
.container-navigation {
   
   width: 100%;
   max-width: 1110px;
   margin: 0 auto;
   position: relative;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding-top: 200px;
   
}

.section-black {
   background: #42413C;
   width: 100%;
   height: 914px;


}

.section-title--black {
   font-size: 52px;
   font-family: 'Neucha', cursive;
   line-height: 1.2em;
}

.navigation-title {

   color: #FE8A02;
   font-family: 'Neucha', cursive;
   font-size: 34px;
   line-height: 40.8px;
   margin-top: 40px;
   margin-bottom: 16px;



}


/*IKEA*/
#ikea-effect {
   padding-top: 100px;
   padding-bottom: 100px;
}
.inner-title {
   font-family: 'Neucha', cursive;
   font-size: 60px;
   line-height: 72px;
   color: #2A2626;
   font-weight: 400;
   margin-bottom: 30px;
   padding-top: 0;
   padding-left: 30px;

}

.section-secondtitle {
   display: block;
   background-color: #B09A81;
   margin-top: 100px;
   margin-bottom: 20px;
   color: #FFFFFF;
   font-family: 'Open Sans';
   font-weight: 700;
   

}

.container-inner {
   display: flex;
   justify-content: space-between;

}

.inner-text { 
   width: 50%;
}

.inner-image {
   vertical-align: middle;
}

.inner-suptitle {
font-family: 'Neucha', cursive;
font-size: 24px;
font-weight: 400px;
line-height: 29px;
color: #908D8B;
padding-left: 30px;
}

.inner-paragraph {
font-family: 'Neucha', cursive;
font-size: 34px;
line-height: 41px;
font-weight: 400;
padding-left: 30px;
color: #2A2626;
}


/*Premature optimization*/

.section-brown {
   
      background: #B09A81;
      width: 100%;
      height: 914px;

}


#premature-optimization{
   padding-top: 100px;
   padding-bottom: 100px;
   
   
}

#premature-optimization p {
   color: #FFFFFF;
   padding-left: 0;

}

#premature-optimization h1 {
   color: #FFFFFF;
   padding-left: 0;

}

#premature-optimization span {
   color: #FFFFFF;
   padding-left: 0;

}

#premature-optimization .inner-text {

   padding-left: 0;

}


#premature-optimization .section-secondtitle {
   background-color: #FFFFFF;
   color: #B09A81;
}