/** CSS STYLE **/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::before,
::after {
  margin: 0;
  padding: 0;
}

.body {
  color: #2a2626;
  font-size: 16px;
  font-family: 'Open Sans', serif;
  line-height: 1.2em;
}

input {
  margin: 0;
  padding: 0;
  border: none;

  font-family: inherit;
}

h1 {
  color: #fe8a02;
  font-weight: 400;
  font-size: 72px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

h2 {
  font-size: 60px;
}

.container {
  position: relative;

  width: 100%;
  height: auto;
}

.section {
  position: relative;

  width: 100%;
  max-width: 1110px;
  height: auto;
  margin: 0 auto;
  padding: 100px 0 100px 0;
}

.black {
  color: #2a2626;
}

.orange {
  color: #fe8a02;
}

.white {
  color: #fff;
}

.container-inner {
  display: flex;
  justify-content: space-between;
}

.inner-image {
  max-width: 100%;
  height: auto;

  vertical-align: middle;
}

/* Header */

.container-header {
  position: relative;

  width: 100%;
  height: auto;

  background: #f5f4f0;
}

.container-header::before {
  position: absolute;

  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: url('./../../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.header-header {
  position: relative;
  z-index: 1;

  margin-bottom: 200px;
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;

  display: block;
  max-width: 100%;
  height: auto;
  max-height: 525px;
}

.header-text {
  display: flex;
  justify-content: space-between;
}

.text-inner {
  width: 50%;
  margin-right: 30px;
}

.text-inner:last-child {
  margin-right: 0;
}

.text-inner p {
  margin-bottom: 1em;
}

.header-button {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;
  border-width: 0;

  color: #fff;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Open Sans';
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fe8a02;
}

/* Video */

.container-video {
  position: relative;

  width: 100%;
  height: auto;

  background: #fff;
}

.container-video::before {
  display: none;
}

.container-video .section {
  z-index: 2;

  margin-bottom: -200px;
}

.video-inner {

  left: 50%;
}

.video {
  display: block;
  margin: 0 auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.header-video {
  font-weight: 400;
  font-size: 72px;

  font-family: 'Neucha', cursive;
  line-height: 1.2em;
  text-align: center;
}

.container-video p {
  margin-bottom: 20px;

  color: #2a2626;
  font-size: 16px;
  font-family: 'Open Sans', serif;
  line-height: 1.6em;
  text-align: center;
}

/* Navigation */

.container-navigation {
  position: relative;

  width: 100%;
  height: auto;

  background-color: #42413c;
}

.container-navigation .section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 200px;
}

.navigation-inner {
  display: block;
  width: 350px;
  height: auto;
  max-height: 340px;
  margin-top: 20px;
  padding: 24px;

  text-decoration: none;

  background-color: #f5f4f0;
}

.navigation-inner:hover {
  background-color: #fe8a02;
}

.navigation-inner:nth-child(-n+3) {
  margin-top: 0;
}

.nav-span {
   margin-bottom: 40px;
 
   color: #b09a81;
   font-weight: normal;
   font-size: 64px;
   font-family: 'Neucha', serif;
   line-height: 1;
 }


.navigation-inner:hover .nav-span {
  color: #fff;
}

.navigation-inner--title {
  background-color: transparent;
}

.navigation-inner--title:hover {
  background-color: transparent;
}

.navigation-title {
  font-size: 52px;
}

.navigation-inner:hover p {
  color: #fff;
}

.section-paragraph--orange {
  color: #fe8a02;
  font-weight: 400;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

/* IKEA */

.header-inner {
  width: 50%;
  margin-right: 30px;
}

.header-inner:last-child {
  margin-right: 0;
}

.container-ikea {
  background-color: #f5f4f0;
}

.container-ikea::before {
  position: absolute;

  display: block;
  width: 100%;
  height: 100%;

  background: url('./../../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.first-header--black {
  color: #2a2626;
  font-weight: 400;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.second-header--white {
  margin: 100px 0 20px 0;

  color: #fff;

  background-color: #b09a81;
}

.section-span--dark50 {
  color: #908d8b;
  font-weight: 400px;
  font-size: 24px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.inner-text {
  width: 50%;
  padding-left: 30px;
}

.section-paragraph--black {
  color: #2a2626;
  font-weight: 400;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.header-paragraph--black {
  color: #2a2626;
  font-size: 16px;
  font-family: 'Open Sans', serif;
  line-height: 1.6em;
}

/* Premature optimization */
.container-premature-optimization {
  background: #b09a81;
}

.container-premature-optimization::before {
  position: absolute;

  display: block;
  width: 100%;
  height: 100%;

  background: url('./../../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.section-span--white50 {
  color: #d7ccc0;
  font-weight: 400px;
  font-size: 24px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.second-header--brown {
  margin: 100px 0 20px 0;

  color: #b09a81;

  background-color: #fff;
}

.first-header--white {
  color: #fff;
  font-weight: 400;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.section-paragraph--white {
  color: #fff;
  font-weight: 400;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.inner-text--left {
  width: 50%;
  padding-right: 30px;
}

.header-paragraph--white {
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', serif;
  line-height: 1.6em;
}

/* distortion-of-novelty */
.container-distortion-of-novelty {
  background-color: #f5f4f0;
}

.container-distortion-of-novelty::before {
  position: absolute;

  display: block;
  width: 100%;
  height: 100%;

  background: url('./../../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

/* hyperbolic-depreciation */

.container-hyperbolic-depreciation {
  background: #b09a81;
}

.container-hyperbolic-depreciation::before {
  position: absolute;

  display: block;
  width: 100%;
  height: 100%;

  background: url('./../../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

/* errors-in-planning */
.container-errors-in-planning {
  background-color: #f5f4f0;
}

.container-errors-in-planning::before {
  position: absolute;

  display: block;
  width: 100%;
  height: 100%;

  background: url('./../../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.container-errors-in-planning .header-paragraph--black {
  margin-bottom: 20px;
}

/* footer */

.container-footer {
  position: relative;

  width: 100%;
  height: auto;
}

.container-footer .section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin-top: 100px;
  padding: 0;

  background-color: #42413c;
}

.input {
  width: 100%;
}

.container-footer .section-paragraph--white {
  padding: 55px;
}

.section-inner {
  width: 50%;
}

.contacts {
  margin-top: 60px;
}

.contacts-inner {
  margin-bottom: 16px;

  font-size: 14px;
  font-family: 'Open Sans', serif;
  line-height: 1.6em;
  text-align: center;
}

.contacts-inner:last-child {
  margin: 0;
}

.footer-rules {
  color: #fff;
  font-size: 12px;
  font-family: 'Open Sans', serif;
  line-height: 1.6em;
  text-decoration: none;
}

input::placeholder {
  color: #757575;
  font-weight: 400;
  font-size: 13.1px;
  font-family: 'Open Sans', serif;
  line-height: 160%;

  opacity: 0.2;
}

.input-form {
  position: relative;

  display: flex;
  justify-content: flex-start;
}

.input-button {
  bottom: 0;
  left: 0;

  width: 70px;
  height: 50px;
  margin-right: 30px;
  border: none;

  background: #fe8a02;
  outline: none;
}

.input-button::before {
  margin: 0 auto;

  content: url(/images/Vector.png);
}

.input-name {
  margin-bottom: 9px;

  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Open Sans', serif;
  line-height: 1.6em;
}

.footer-rules a {
  color: inherit;
  text-decoration: none;
}

.contacts-inner a {
   text-decoration: none;
}

.footer-rules a:hover {
  text-decoration: underline;
}

.contacts-inner a:hover {
  text-decoration: underline;
}

.contacts-link {
  color: #1085c5;
}
